html {
  min-height: 100%;
}

body {
  min-height: 100vh;
}

footer {
  height: 40px;
}

#planetary-systems-container {
  display: flex;
  flex-flow: row wrap;
  padding-top: 10px;
  justify-content: center;
  height: 100%;
}

#add-planetary-system-form {
  display: none;
  max-width: 150px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
#add-planetary-system-form > form {
  padding: 10px;
}

#add-planetary-system-form > form > h2 {
  color: rgb(217, 238, 255);
}
#add-planetary-system-form > form > input[type="text"] {
  width: 100%;
  border: none;
  background: rgba(217, 238, 255, 0.7);
  padding: 10px 0;
  font-size: 0.7rem;
  margin: 5px 0;
}

#add-planetary-system-form > form > .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  padding: 10px;
  margin: 5px 0;
}

#add-planetary-system-form > form > .cancel {
  background: red;
}
#add-planetary-system-form > form > .btn:hover {
  opacity: 1;
}

#add-planetary-system-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 30px 10px;
  max-width: 150px;
  justify-content: center;
}
#add-planetary-system-card > img {
  padding-top: 10px;
  width: 90%;
  transition: 0.5s;
}

#add-planetary-system-card > img:hover {
  cursor: pointer;
  filter: contrast(1.2);
  transform: scale(1.2);
}

#add-planetary-system-card > span {
  margin-top: 10px;
  color: rgb(217, 238, 255);
  font-size: 1.2rem;
  text-align: center;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  max-width: 150px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.planetary-system-img {
  width: 100%;
  transition: 5s;
}

.planetary-system-img:hover {
  cursor: pointer;
  filter: contrast(1.2);
  transform: rotate(1080deg) scale(1.1);
}

.planetary-system-name {
  margin-top: 10px;
  color: rgb(217, 238, 255);
  font-size: 1.2rem;
  text-align: center;
}

.img-container {
  padding-top: 30px;
  position: relative;
}

.delete-planetary-system-img {
  position: absolute;
  width: 35px;
  top: 0;
  right: 0;
  transition: 0.1s;
}

.delete-planetary-system-img:hover {
  cursor: pointer;
  filter: contrast(1.2);
  transform: scale(1.2);
}
