body {
  margin: 0;
}

header {
  width: 100%;
  height: 68px;

  box-sizing: border-box;

  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 999;

  background-color: #021321;
  box-shadow: 0px 0px 20px 20px #000000;
}

main {
  position: relative;
  width: 100%;
  height: calc(100vh - 68px);
  background-color: #010b13;
}

footer {
  width: 100%;
  height: 40px;
  background-color: #010203;
}

nav ul {
  margin: 0;
  padding: 0;

  display: flex;

  list-style-type: none;
}

.logo {
  height: 100%;

  padding: 0 0 0 20px;
}

.menu-button {
  height: 100%;

  padding: 0 20px 0 0;
}

nav li a {
  display: block;
  padding: 25px 30px;

  text-decoration: none;
  color: #acacac;
  background-color: #021321;
}

nav li a:hover {
  color: #ff163d;
  background-color: #021829;
}

nav li:last-child {
  position: relative;
}

header img {
  height: 100%;

  padding: 10px 0;
  box-sizing: border-box;
}

.menu-button i {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #acacac;
}

@media only screen and (max-width: 599px) {
  nav.desktop {
    display: none;
  }

  nav.mobile {
    display: none;
  }

  nav.mobile ul {
    flex-direction: column;
  }

  li:last-child {
    position: relative;
    box-shadow: 0px 30px 20px 0px #000000;
  }

  #menu{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: calc(100% - 6px);
    height: 11vh;
}

  #menu table{
    width: 100%;
    height: 50%;
  }

  #menu table td{
    height: 50%;
    width: 16.6%;
    font-size: 110%;
    text-align: center;
    padding: 5px;
  }

  td button{
    width: 100%;
    height: 100%;
    border-radius: 40%;
  }

  #menu input{
    height: 80%;
  }
  
  #deletePlanet{
    width: 100%;
    height: 60%;
  }
  
  #deletePlanet img{
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .menu-button {
    display: none;
  }

  nav.mobile {
    display: none;
  }
  .mobile {
    display: none;
  }

  #menu{
    position: absolute;
    left: 30%;
    bottom: 0px;
    width: 40%;
    height: 10vh;
}

  #menu table{
      width: 100%;
      height: 50%;
  }

  #menu table td{
      height: 50%;
      width: 10%;
      font-size: 220%;
      text-align: center;
  }

  td button{
      width: 70%;
      height: 70%;
      border-radius: 40%;
  }

  #menu input{
    height: 50%;
  }
  
  #deletePlanet{
    width: 50%;
    height: 50%;
  }
  
  #deletePlanet img{
    height: 100%;
    width: 100%;
  }
}


.dropdown {
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 2;
}

#dropimg {
  width: 50px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 1s;
}

.dropdown-content {
  display: none;
  margin-top: 10px;
  padding: 0 10px;
  flex-flow: column nowrap;
  align-items: flex-start;
  position: absolute;
  min-width: 150px;
  overflow-y: scroll;
  max-height: 70vh;
  animation: growDown 0.7s ease-in-out;
  transform-origin: top center;
  z-index: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.dropdown-content::-webkit-scrollbar {
  display: none;
}

.add-planetary-system-item {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;

  background-color: #afaeae07;
}

.add-planetary-system-item img {
  width: 40px;
  display: block;
  margin: 10px auto;
  cursor: pointer;
}

.add-planetary-system-item form input[type="text"] {
  border: none;
  outline: none;
  width: 90%;
  padding: 5px 0;
  display: block;
  margin: 0 auto;
}

.add-planetary-system-item img:hover {
  transform: scale(1.1);
  filter: contrast(1.3);
}

.dropdown-item {
  position: relative;

  width: 100%;
  margin: 5px 0;
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
  background-color: #afaeae17;
  text-decoration: none;
  cursor: pointer;
}

.planetary-system-img {
  width: 40px;
  transition: 0.5s;
}

.dropdown-item:hover > .planetary-system-img {
  filter: contrast(1.2);
  transform: rotate(540deg) scale(1.1);
}

.dropdown-item:hover {
  background-color: #afaeae30;
}

.dropdown-item a {
  color: #afaeae;
  margin-left: 10px;
  padding: 0 10px;
}

.delete-planetary-system-img {
  position: absolute;
  width: 25px;
  top: 0;
  right: 0;
  transition: 0.1s;
}

.delete-planetary-system-img:hover {
  cursor: pointer;
  filter: contrast(1.2);
  transform: scale(1.2);
}

.show-dropdown {
  display: flex;
}

.selected-planet-system {
  background-image: url(../images/milky-way.jpg);
  filter: brightness(1.6);
}

#canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

@media only screen and (max-height: 500px){
  #menu table td{
      font-size: 110%;
  }

  #menu{
      left: 22%;
      bottom: 0px;
      width: 56%;
      height: 15vh;
  }

  td button{
      width: 100%;
      height: 100%;
      border-radius: 40%;
  }

  #menu input{
    height: 60%;
  }
  
  #deletePlanet{
    width: 70%;
    height: 70%;
  }
  
  #deletePlanet img{
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (min-aspect-ratio: 3/5) and (max-aspect-ratio:1/1){
  #menu table td{
      font-size: 190%;
  }

  #menu{
      left: 22%;
      bottom: 0px;
      width: 56%;
      height: 9vh;
  }

  td button{
      width: 100%;
      height: 100%;
      border-radius: 40%;
  }

  #menu input{
    height: 60%;
  }
  
  #deletePlanet{
    width: 80%;
    height: 70%;
  }
  
  #deletePlanet img{
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (min-aspect-ratio: 1/1) and (max-aspect-ratio:5/3){
  #menu table td{
      font-size: 150%;
  }

  #menu{
      left: 22%;
      bottom: 0px;
      width: 56%;
      height: 9vh;
  }

  td button{
      width: 100%;
      height: 100%;
      border-radius: 40%;
  }

  #menu input{
    height: 60%;
  }
  
  #deletePlanet{
    width: 70%;
    height: 70%;
  }
  
  #deletePlanet img{
    height: 100%;
    width: 100%;
  }
}

#menu{
  display:none;
  background-color: #020f1a;
  color: #c8dbe9;
  border-radius: 25px;
  border: black 3px solid;
}

#menu input{
  height: 40%;
}

.planet-params {
  position: absolute;
  bottom: 0;
  right: 0;

}

.planet-params-header {
  display: flex;
  flex-direction: row;

  padding: 10px 10px;

  background-color: #444444;
}

.planet-params-close{
  width: 20px;
  height: 20px;

  padding-right: 10px;
}

.planet-params-header-text {

}

.planet-params-close-button {
  width: 100%;
  height: 100%;
}

.planet-params-content {
  display: none;
  padding: 10px 10px;
  background-color: #acacac;
  transform-origin: bottom center;
  animation: growUp 0.7s ease-in-out;
}

.show {
  display: block;
}

label, input {
  margin: 10px 0;
  display: block;
}

@keyframes growUp {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
