body {
  margin: 0;
}

header {
  width: 100%;
  height: 68px;

  box-sizing: border-box;

  position: relative;
  display: flex;
  justify-content: space-between;

  background-color: #021321;
  box-shadow: 0px 0px 20px 20px #000000;
}

main {
  width: 100%;
  min-height: calc(100vh - 68px);
  background-color: #010b13;
}

footer {
  width: 100%;
  height: 20vh;
  background-color: #010203;
}

nav ul {
  margin: 0;
  padding: 0;

  display: flex;

  list-style-type: none;
}

.logo {
  height: 100%;

  padding: 0 0 0 20px;
}

.menu-button {
  height: 100%;

  padding: 0 20px 0 0;
}

li a {
  display: block;
  padding: 25px 30px;

  text-decoration: none;
  color: #acacac;
  background-color: #021321;
}

li a:hover {
  color: #ff163d;
  background-color: #021829;
}

li:last-child {
  position: relative;
}

header img {
  height: 100%;

  padding: 10px 0;
  box-sizing: border-box;
}

.menu-button i {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #acacac;
}

canvas {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 599px) {
  nav.desktop {
    display: none;
  }

  nav.mobile {
    display: none;
  }

  nav.mobile ul {
    flex-direction: column;
  }

  li:last-child {
    position: relative;
    box-shadow: 0px 30px 20px 0px #000000;
  }
}

@media only screen and (min-width: 600px) {
  .menu-button {
    display: none;
  }

  nav.mobile {
    display: none;
  }
}
